<footer>
    <div class="footer-category">
        <p class="footer-category-title">
            {{ contactTitle }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a target="_blank" href="{{ gitHubUrl }}">{{ contactGitHub }}</a>
            </li>
            <li>
                <a target="_blank" href="{{ linkedInUrl }}">{{ contactLinkedIn }}</a>
            </li>
            <li>
                <a href="mailto:{{ email }}">{{ contactEmail }}</a>
            </li>
        </ul>
    </div>

    <div class="footer-category">
        <p class="footer-category-title">
            {{ languagesTitle }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a href="">{{ languagesFrench }}</a>
            </li>
            <li>
                <a href="">{{ languagesEnglish }}</a>
            </li>
        </ul>
    </div>

    <div class="footer-category">
        <p class="footer-category-title">
            {{ confidentialityTitle }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a href="">{{ confidentialityPolicy }}</a>
            </li>
            <li>
                <a href="">{{ confidentialityLegals }}</a>
            </li>
        </ul>
    </div>
</footer>