.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;

    .title-and-p-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        text-decoration: underline;
        text-decoration-color: var(--primary-color);

        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    ul {
        margin-top: -0.5rem;
        color: var(--grey-color);
        line-height: 1.5;
        list-style-position: inside;

        li::marker {
            color: var(--primary-color)
        }
    }

    p{
        color: var(--grey-color);
        line-height: 1.33;
        text-align: justify;
    }

    .container {
        width: 100%;
        height: 60vh;
        border: 4px solid var(--primary-color);

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        flex-direction: column;

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
            width: 100%;
            border-bottom: 4px solid var(--primary-color);

            .input-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding: 0 1rem;
                gap: 1rem;

                input {
                    background: none;
                    border: 2px solid var(--grey-color);
                    border-radius: 0.5rem;
                    width: 100%;
                    padding: 1rem;
                    font-size: 1rem;
                    height: 2rem;

                    &:active, &:focus {
                        outline: none;
                        border: 2px solid var(--primary-color);
                    }
                }
            }

            .buttons-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1rem;
            }
        }
        
        .result-container {
            width: 90%;
            height: 100%;
            overflow: auto;
            color: var(--grey-color);

            img {
                display: none;
                height: 5rem;
                width: 5rem;
                border-radius: 100%;
            }
        }
    }
}