@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --dark-color: #1A1A1A;
    --grey-color: rgb(126, 126, 114);
    --lightgrey-color: rgba(126, 126, 114, 0.33);
    --primary-color: #FC4C02;
    --secondary-color: #FEB79A;
    --light-color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


// Todo : transform all these into components
.icon-link-btn {
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 2rem;
        height: 2rem;
        transition: color 0.3s;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.small-btn {
    background: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--light-color);
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem 1rem;

    &:hover {
        background: var(--secondary-color);
    }
}