<footer>
    <div class="footer-category">
        <p class="footer-category-title">
            {{ 'contact.title' | translate }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a target="_blank" href="https://github.com/bgirot/komquest">{{ 'contact.github' | translate }}</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/balthazar-girot/">{{ 'contact.linkedin' | translate }}</a>
            </li>
            <li>
                <a href="mailto:binne.poub@gmail.com">{{ 'contact.email' | translate }}</a>
            </li>
        </ul>
    </div>

    <div class="footer-category">
        <p class="footer-category-title">
            {{ 'languages.title' | translate }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a (click)="setLanguage('fr')" [class.active]="getCurrentLanguage() === 'fr'">
                    {{ 'languages.french' | translate }}
                </a>
            </li>
            <li>
                <a (click)="setLanguage('en')" [class.active]="getCurrentLanguage() === 'en'">
                    {{ 'languages.english' | translate }}
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-category">
        <p class="footer-category-title">
            {{ 'confidentiality.title' | translate }}
        </p>
        <ul class="footer-category-list">
            <li>
                <a [routerLink]="['/privacy']">{{ 'confidentiality.policy' | translate }}</a>
            </li>
            <li>
                <a [routerLink]="['/legals']">{{ 'confidentiality.legals' | translate }}</a>
            </li>
        </ul>
    </div>
</footer>